html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

h4 {
  color: #FFA000;
}

.container {
  background-color: #3F51B5;
}

#navbarup {
  position: fixed;
  left: 0;
  width: 100%;
}

#navbarup .container{
  margin:0;
  width:100%;
}

.navbar-title {
  border-left: 2px solid #FFA000;
}

/* dndTree */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: black;
  stroke-width: 2px;
}

.node text {
  font-size:15px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.overlay{
  background-color:#F6F6F6;
}

/* autocomplete */

.ui-autocomplete {
  max-height: 400px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.autocomplete-item {
  height: 60px;
}

.artist-icon-container {
  padding-top: 3px;
}

.artist-icon {
  vertical-align: middle;
  float: left;
  height: 54px;
  width: 54px;
  object-fit: cover;
  border-radius: 27px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
}

.artist-label {
  padding-left: 60px;
  line-height: 60px;
}

/* navbar */

#navbarcontainer {
  position:absolute;
  left:0px;
  right: 370px;
}

.menu-items {
  padding-right: 20px;
}

/* Left Container */

.main-container {
  overflow: hidden;
  height: auto;
  background-color: #F6F6F6;
}

.left {
  float: none;
  width: auto;
  overflow: hidden;
}

#search {
  padding-bottom: 5px;
  padding-top: 5px;
}

#search-artist {
  padding-right: 2px;
}

#search-genre {
  padding-left: 2px;
}


/* Right Pange */

#rightpane {
  font-size: 15px !important;
  float: left;
  top: 60px;
  left:0px;
  width: 50vw;
  height: calc(100vh - 60px) !important;
  position: relative;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slider {
  width: 200px;
}

#repeat-artists-container {
  clear: both;
}

#checkbox-div {
  float: right;
  width: 88px;
}

#range-container {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  clear:both;
}

.range-desc {
  float: left;
  width: 180px;
}

#range-indicator {
  padding-top: 3px;
  text-align: center;
}

.range-bar {
  padding-top: 2px;
  float: right;
  width: 130px;
}

#bigoraphyDiv {
  text-align: justify;
}

.now-playing {
  padding-left: 37px;
}

.now-playing::before {
  display: inlne-block;
}

.now-playing.active {
  background: url('../img/spotify.png') no-repeat left top;
  background-size: 67px;
  background-position-x: 0px;
}

#popularTracks {
  list-style-position: inside;
  text-indent: -12px;
  padding-left: 0px;
}

#infobox li {
  cursor: pointer;
}

#infobox a, #infobox a:link, #infobox a:visited {
  color: #222327;
}

#infobox a:hover {
  color: #6FB100;
}

#share-div {
  position: fixed;
  height: 70px;
  left: 20px;
  bottom: 10px;
}

.share-warning {
  font-size: 12px;
  color: red;
}

.warning {
  color: red;
}

.profile-image  {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  border: 1px solid grey;
}

.github-image  {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  border: 1px solid grey;
}


.nav>li>a.dropdown-toggle {
  display: inline-block;
  padding-left: 5px;
}

#display-name {
  padding-right: 10px;
  padding-left: 0px;
}

.new-feature {
  color:#E20026;
}

@media (min-width: 992px) {
  .navbar-logo {
    width: 43px;
    height: 42px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

div #see-the-code {
  margin-top: 20px;
}

#see-the-code h3 {
  padding-top: 15px;
  padding-left: 30px;
}

@media (max-width: 1300px) {
  .navbar-left {
    display: none;
  }
}

/*------------ History --------*/

#nodes-history {
  position: fixed;
  top: 60px;
  left: 1rem;
  width: 68px;
  z-index: 10;  

  height: calc(50vh - 60px - 67px);
  
}

#nodes-history #nodes-list-wrapper {
  height: calc(50vh - 60px - 67px);
  display:table-cell; 
  vertical-align:bottom;
}

#nodes-history #nodes-list {
  max-height:100%;
  overflow: auto;
}

#nodes-history #nodes-list .node {
  width: 68px;
  height: 68px;
  background-color: black;
  border-radius: 50%;
  border:2px solid #ffa000;
  position: relative;
  margin-bottom:30px;
}

#nodes-history #nodes-list .node:last-child {
  display: none;
}

/*#nodes-history #nodes-list .node:nth-last-child(2) .horizontal-line { 
  display: none;
}*/

#nodes-history #nodes-list .node .horizontal-line{
  position: absolute;
  border-right:2px solid #ffa000;
  top: 66px;
  left: 31px;
  height: 30px;
}

#nodes-history #nodes-list .node img {
  width:100%;
  min-height: 100%;

}

/*#orange-line {
  position: fixed;
  left:calc(25px + 1rem);
  top: 36px;
  border-left:2px solid #FFA000;
  height:50px;
}*/

/*------------ Author info --------------*/

#infobox .author-info {
  position: absolute;
  top: calc(-50px + 0.5rem);
  padding: 0.5rem;
  width: 100%;
  height: 50px;
  background-color: #E8EAF6;  
  overflow: hidden;
  border:2px solid #FFA000;
  border-bottom: 0;
  border-radius: 20px 0 0 0;
}

#infobox .author-info .author-img-container {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 15px;
  display: inline-block;
  vertical-align: middle;
}

#infobox .author-info .author-img-container .author-img {
  width:100%;
  min-height: 100%;
}

#infobox .author-text-block {
  padding-left: 0.5rem;
  width:calc(35vw - 2rem - 7vw - 0.5rem);
  display: inline-block;
  vertical-align: middle;
}

#infobox .author-text-block .author-name {
  font-size: 2.2rem;
  font-weight: 500;
  color:#1A237E;
}

#infobox .author-desc {
  font-style: italic;
  padding-top: 0.5rem;
}

/*------------ Bridge card --------------*/

#infobox .bridge-card {
  margin-left: calc(68px + 1rem);
  width: calc(50vw - 102px - 2rem);
  margin-top: calc(50vh - 60px - 1rem + 1px - 34px - 25px);
/*  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);*/
}

/*------------ Bridge ---------------*/

#infobox .bridge-container {
  padding: 0;
  margin:0 0.5rem;
  position: relative;
}


  /*---- Start and Destination snippets*/

  #infobox .content-snippet{
    position: fixed;
    bottom: calc(50vh - 1px);
    width: 68px;
    height: 68px;
  }

  #infobox .content-snippet.start {
    left: 1rem;
  }

  #infobox .content-snippet.end {
    left: calc(50vw - 34px);
  }

  #infobox .content-snippet .content-img-container {
    position: absolute;
    width:68px;
    height:68px;
    border-radius: 50%;
    border:2px solid #FFA000;
    overflow: hidden;
  }
/*
  #infobox .content-snippet .content-title {
    position: absolute;
    width: 100%;
    line-height: 64px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #infobox .content-snippet.start .content-title {
    padding-left: calc(64px + 0.5rem);
    text-align: left;
  }

  #infobox .content-snippet.end .content-title {
    padding-right: calc(64px + 0.5rem);
    text-align: right;
  }*/


  #infobox .start .content-img-container{
  }

  #infobox .end .content-img-container{
  }

  #infobox .content-img-container .content-img {
    width:100%;
  }

  #infobox .content-snippet .bridge-line {
    width:1rem;
    border-top: 2px solid #ffa000;
    position: absolute;
    top: 34px;
  }

  #infobox .content-snippet.start .bridge-line {
    left:68px;
  }

  #infobox .content-snippet.end .bridge-line {
    left:-1rem;
  }

  /*----- Diamonds & Likes --------*/

  #infobox #bridge-rewards {
    position: absolute;
    top: calc(0.5rem - 30px - 50px);
    right:0;
    height: 30px;
    width:100px;
    border-radius: 4px 4px 0 0;
    border: 2px solid #ffa000;
    background-color: #ffa000;
    color:white;
    font-weight: 400;
  }

  #infobox #bridge-rewards .reward-block {
    padding:0 0.5rem;
    display: inline-block;
  }

  #infobox #bridge-rewards img {
    height:20px; 
    display:inline-block;
  }

  /*-------- Bridge design --------*/

  #infobox #biography {
    background-color: white;
    width:100%;
    white-space: normal;
    word-wrap: break-word;
    border-radius: 0 0 20px 20px;
    border:2px solid #ffa000;
    border-top: 0;
    padding: 1rem 0.5rem;
    position: relative;
    z-index: 10;
  }

  #infobox #biography .inside-popup-content {
    width:100%;
    white-space: normal;
  }

  #infobox .inside-popup-content .popup-description {
    padding:0.25rem 0.5rem;
    font-weight: 400;
  }

/*---- Social block -----*/

#infobox #social-block {
  text-align: center;
  height: 60px;
  position: relative;
  top: -18px;
  background-color: white;
  z-index: 0;
  border-radius: 0 0 5px 5px;
}

#infobox #social-block .social-action {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-top:23px;
}

#infobox #social-block .social-icon {
  display: inline-block;
}

#infobox #social-block .social-text {
  display: inline-block;
}

/*------------ Preferences ------------*/

#config {
  background-color: rgba(0,0,0,0.7);
  color:white;
  position: fixed;
  left:0;
  bottom:0;
  width: 330px;
  padding: 0.1rem 0.5rem;
}

#config .config-element {
  display: none;
}

#config:hover .config-element {
  display: block;
}



/*------------ IFrame styling --------------*/

#iframeModal.modal {

}

#iframeModal .modal-dialog {
    position: fixed;
    left:15vw;
    top: 0;
    height: calc(100vh - 60px);
    width:70vw;
    margin-top:60px;
} 

#iframeModal #closeIframe {
    position: fixed;
    right: 5px;
    top: 5px;
}

#iframeModal .modal-dialog .modal-content {
  height:100%;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  border-radius: 0;
  border: 0px;
}

#iframeModal .modal-dialog .modal-header {
  height: 100%;
  padding: 0;
  border-bottom: 0;
}
#iframeModal .modal-dialog .modal-header button {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#iframeModal .modal-dialog .modal-header button:hover {
  background-color: grey;
}

#iframeModal #iframe-container {
  width:100%;
  height:100%;
}

#iframeModal #iframe-container a {
  font-size: 2rem;
  text-transform: uppercase;
  padding:1.5rem;
  border-radius: 5px;
  color:white;
  background-color: #ffa000;
  position: absolute;
  top:20vh;
  left:20vw;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#iframeModal #content-iframe {
  width:100%;
  height:100%;
}

.modal-backdrop.in {
    opacity: 0.5;
}